html {
    background-image: url(https://s.panlai.com/upload/2023/11/20231108174118169943647862315.jpg-arthumbs);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

body, #app, .v-application {
    height: 100% !important;
    min-height: initial !important;
    background: none !important;
    backdrop-filter: blur(25px); /* 增加背景模糊效果 */
    transition: transform 0.5s ease, box-shadow 0.5s ease; /* 设定过渡效果 */
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* 添加阴影效果 */
    border-radius: 10px; /* 设置圆角 */
    animation: bodyFadeIn 1s; /* 应用淡入动画 */
    font-weight: bold; /* 字体加粗 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* 文字增加黑色阴影 */
}
/* 设置 body, #app 和 .v-application 的样式，包括高度、背景、模糊效果、过渡效果、阴影、圆角和动画 */

@keyframes bodyFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
/* 定义一个淡入动画 */

.layout-wrapper {
    height: 100%;
    overflow: auto;
}
::-webkit-scrollbar-thumb {
    background: rgba(var(--v-theme-perfect-scrollbar-thumb),0.8) !important;
    transition: background 0.3s ease-in-out;
}
/* 自定义滚动条滑块样式及其过渡效果 */

::-webkit-scrollbar-thumb:hover {
    background: #d1ae00 !important;
}
/* 设置滚动条滑块悬停时的样式 */

/*.v-virtual-scroll {*/
/*    background: rgba(var(--v-theme-background),0.3);*/
/*    box-shadow: 0 0 5px rgba(0,0,0,0.3);*/
/*    border-radius: 10px;*/
/*}*/

.v-switch__thumb.bg-primary, .v-switch__track.bg-primary, .v-progress-linear__determinate.bg-primary { 
    background-color: #7D34FD !important; /* 修改为你想要的颜色，例如绿色 */ 
}
/* 设置开启后的开关\滑轨\首页进度条颜色 */

.v-application, .v-card--variant-elevated, .v-list {
    background: none !important;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 10px;
}
/* 设置 .v-application 和 .v-card--variant-elevated .v-list 的样式，包括背景、过渡效果、阴影和圆角 */

.layout-nav-type-vertical .layout-vertical-nav {
    background: rgba(var(--v-theme-background),0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
}
/* 设置垂直导航栏的背景、过渡效果、阴影和圆角 */

.v-card, .v-field--variant-solo, .v-field--variant-solo-filled, .v-field--variant-solo-inverted {
    background: rgba(var(--v-theme-background),0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
/* 设置卡片、列表项和表单域的样式，包括背景、过渡效果、阴影和圆角 */

.v-card:hover, .v-field--variant-solo:hover, .v-field--variant-solo-filled:hover, .v-field--variant-solo-inverted:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 25px rgba(0,0,0,0.8);
}
/* 设置卡片、列表项和表单域的悬停效果，包括缩放和增强阴影 */

.v-chip__content {
    font-size: 13px; /* 调整字体大小 */
    color: white; /* 调整文字颜色 */
    text-shadow: 0 0 5px rgba(0,0,0,0.3); /* 添加阴影以提高清晰度 */
}
/* 设置标签的样式 */

.v-dialog .v-card {
    background: rgba(var(--v-theme-background),0.5);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
}
/* 设置对话框中卡片的样式，包括背景、过渡效果、阴影和圆角 */

.v-toolbar {
    background: rgba(var(--v-table-header-background),0.3) !important;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
}
/* 设置工具栏的背景、过渡效果、阴影和圆角 */

.v-application .fc {
    background: rgba(var(--v-theme-surface),0.3) !important;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
}
/* 设置列表和应用程序表面的背景、过渡效果、阴影和圆角 */

.v-application .fc .fc-scrollgrid-section-sticky > * {
    background: rgba(var(--v-theme-surface),0.2) !important;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
}
/* 设置滚动网格粘性部分的背景、过渡效果、阴影和圆角 */

.navbar-blur.layout-navbar .navbar-content-container, .v-table {
    background: none !important;
    /* transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; */
    /* box-shadow: 0 0 5px rgba(0,0,0,0.3); */
    /* border-radius: 10px; */
}
/* 设置导航栏和表格的背景、过渡效果、阴影和圆角 */

.v-data-table th, .v-data-table td {
    background: rgba(var(--v-theme-surface),0.4) !important;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
}
/* 设置数据表格单元格的背景、过渡效果、阴影和圆角 */

.v-skeleton-loader {
    background: rgba(var(--v-theme-surface),0.2) !important;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
}
/* 设置骨架加载器的背景、过渡效果、阴影和圆角 */

.bg-primary {
    background-color: rgba(0, 0, 0, 0.6) !important;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
}
/* 设置主要背景颜色、过渡效果、阴影和圆角 */

@media (max-width: 600px) {
    body, #app, .v-application {
        backdrop-filter: blur(4px);
    }

    .v-card, .v-field--variant-solo, .v-field--variant-solo-filled, .v-field--variant-solo-inverted {
        box-shadow: 0 0 3px rgba(0,0,0,0.3);
    }

    .v-card:hover, .v-field--variant-solo:hover, .v-field--variant-solo-filled:hover, .v-field--variant-solo-inverted:hover {
        transform: scale(1.01);
        box-shadow: 0 0 20px rgba(0,0,0,0.8);
    }
}
/* 响应式设计，针对宽度小于600px的设备，设置不同的模糊效果和阴影 */
